*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
.block{
    border: 2px solid black;
    width: 20%;
    float: left;
}
@media screen and (max-width: 992px){
    .block{
        width: 33.33%;
        background-color: ;
    }
    
}