body{
    background-color: aqua;
}
.logo
   {
    border: solid black 4px;
    vertical-align: middle;
    border-radius: 50%;
   }
header
    {
        border:  unset;
        border-bottom: ;
       
        flex:auto;
        text-align: center;
        background-image: url(painted-wooden-plank-textured-backdrop.jpg);
        position:sticky;
        top:0px;
        z-index:1;
    }
.title{
    font-size: 25px;
    color: rgb(117, 107, 104);
    font-weight: 700;
    text-shadow: 6px 3px 5px black;
    vertical-align: middle;
    
}
.searchbar{
    position: relative;
    left: 500px;
    bottom: 120px;
}
.footer-container{
    color:rgb(62, 143, 118);
    text-align: center;
}
.navbar
{
    font-size: 20px;
    font-weight: 500px;
    
}